COMPOSE_PROJECT_NAME=eaglevision

KAFKA_BROKER_ID=1
KAFKA_NODE_ID=1
KAFKA_HOST_PORT=9092
KAFKA_CONTROLLER_PORT=9093
KAFKA_INTERNAL_PORT=29092

POSTGRES_HOST_PORT=5432
POSTGRES_DB=eaglevision
POSTGRES_USER=eaglevision
POSTGRES_PASSWORD=eaglevision

DATABASE_URL=postgresql://eaglevision:eaglevision@postgres:5432/eaglevision
KAFKA_BOOTSTRAP_SERVERS=kafka:29092

APP_PORT=3000
